<header class="main-header">
  <div class="main-header__content  content">
    <a class="main-header__logo" href="#" aria-label="Эксперт Логистик">
      <picture>
        <source srcset="img/logo-tablet@1x.png 1x, img/logo-tablet@2x.png 2x" media="(max-width: 1023px)">
        <img src="img/logo@1x.png" srcset="img/logo@1x.png 1x, img/logo@2x.png 2x" alt="Логотип Эксперт Логистик">
      </picture>
    </a>

    <div class="main-header__menu">
      <nav class="main-header__nav  main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">
              О компании
            </a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">
              Услуги
            </a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">
              Клиенты
            </a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">
              Регионы
            </a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">
              Карьера
            </a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <a class="main-header__phone" href="tel:+74953633020">
        +7 (495) 363–30–20
      </a>

      <button class="main-header__button" type="button" aria-label="Открыть меню"></button>
    </div>
  </div>
</header>
